<div class="form-wrapper">
  <h3 class="form-header">Log in</h3>
  <form class="form" (ngSubmit)="doLogin()">
    <label>
      <input class="form-input"
             type="userName"
             name="userName"
             placeholder="User name or email *"
             [(ngModel)]="userData.userName">
    </label>
    <span class="field-required">This field is required</span>
    <label>
      <input class="form-input"
             type="password"
             name="password"
             placeholder="Password *"
             [(ngModel)]="userData.password">
    </label>
    <a class="forgot-password" href="#">Forgot password?</a>
    <button class="btn" type="submit">Log in</button>
  </form>
</div>
