mat-list {
  width: 40%;
  margin: 0 auto;
}

.users-header {
  margin: 0;
  text-align: center;
}

.role-change-btn {
  min-width: initial;
}

.info-text {
  margin-top: 15px;
  text-align: center;
}
