<header class="header">
  <div class="header-icons">
    <div *ngIf="isAuthenticated" class="user-icon-wrapper">
      <img class="user-icon" src="../../../assets/user-icon.png" alt="user icon">
    </div>
    <a *ngIf="!isAuthenticated" routerLink="/login" mat-menu-item>
      <span>Login</span>
    </a>
    <a *ngIf="!isAuthenticated" routerLink="/register" mat-menu-item>
      <span>Register</span>
    </a>
    <button *ngIf="isAuthenticated" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <a routerLink="/posts" mat-menu-item>
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
      </a>
      <a routerLink="/createPost" mat-menu-item>
        <mat-icon>dashboard</mat-icon>
        <span>Create Post</span>
      </a>
      <a *ngIf="isAdmin" routerLink="/users" mat-menu-item>
        <mat-icon>list</mat-icon>
        <span>Users</span>
      </a>
      <a routerLink="/" (click)="onLogout()" mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <span>Log out</span>
      </a>
    </mat-menu>
  </div>
</header>
