<header class="header">
  <div class="header-icons">
    <div class="user-icon-wrapper">
      <img class="user-icon" src="../../../assets/user-icon.png" alt="user icon">
    </div>
    <span class="dots-icon-wrapper">
      <svg class="dots-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 612 612">
        <circle cx="69.545" cy="528.545" r="69.545"></circle>
        <circle cx="306" cy="306" r="69.545"></circle>
        <circle cx="306" cy="83.455" r="69.545"></circle>
        <circle cx="69.545" cy="83.455" r="69.545"></circle>
        <circle cx="69.545" cy="306" r="69.545"></circle>
        <circle cx="306" cy="528.545" r="69.545"></circle>
        <circle cx="542.454" cy="528.545" r="69.545"></circle>
        <circle cx="542.454" cy="83.455" r="69.545"></circle>
        <circle cx="542.454" cy="306" r="69.545"></circle>
      </svg>
    </span>
  </div>
</header>
